{% extends 'sports_betting/base.html' %}
{% block content %}
    <h3>{{ x }}</h3>
    <table class="table table-hover">
        <thead>
        <tr class="bg-primary text-white">
            <th scope="col">Id</th>
            <th scope="col">Game</th>
            <th scope="col">Date</th>
            <th scope="col">My Pick</th>
            <th scope="col">Result</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>

        {% for f in object_list %}
            <tr>
                <td>{{ f.game_id }}</td>
                <td><a href="{% url 'game_details' f.game.pk %}">{{ f.game }}</a></td>
                {# tutaj link do statysty druzyny #}
                <td>{{ f.game.game_date }}</td>
                <td>{{ f.get_your_forecast_display }}</td>
                {% if f.forecast_result %}
                    <td>{{ f.forecast_result }}</td>
                    <td>---</td>
                {% else %}
                    <td>game not finished</td>
                    <td><a href="{% url 'edit_forecast' f.pk %}">edit</a></td>
                {% endif %}

            </tr>
        {% empty %}
            <tr>
                <td>Empty Table - No games</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>


<!-- Pagination -->

    {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
          <!-- poprawic -->
          {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}



{% endblock %}