{% extends 'sports_betting/base.html' %}
{% block content %}
    <h3>Ranking of Users</h3>
    <table class="table table-hover">
        <thead>
        <tr class="bg-primary text-white">
            <th scope="col">User</th>
            <th scope="col">Number of Forecasts</th>
            <th scope="col">Percentage of Correct Forecasts</th>
            <th scope="col">Number of Bets</th>
            <th scope="col">Percentage of Won Bets</th>


        </tr>
        </thead>
        <tbody>
        {% for u in object_list %}
        <tr>
            <td><a href="{% url 'forecasts' u.pk %}">{{ u }}</a> </td>
            <td>{{ u.gameforecast_set.all.count }}</td>
            <td>{{ u.user_correct_forecasts_percentage.percentage }}</td>
            <td>{{ u.yourbet_set.all.count }}</td>
            <td>{{ u.user_correct_bets_percentage.percentage }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->

    {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
          <!-- poprawic -->
          {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

{% endblock %}